.language {
  display: flex;
  padding-right: 1rem;
  padding-top: 1rem;
  font-size: 12px;
  position: fixed;
  top: 0;
  z-index: 1001;
  color: white;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
.btn-language {
  background-color: transparent;
  border: transparent;
  padding: 0;
}
.img_language {
  width: 18px;
  margin-left: 5px;
  margin-right: 10px;
}
.menu{
  color: black;
}